{
    "READ ME": "SET 'host' to RPi/Device IP, REQUIRES: https://marketplace.visualstudio.com/items?itemName=Natizyskunk.sftp",
    "name": "Kali RPi",
    "host": "192.168.1.123",
    "protocol": "sftp",
    "port": 22,
    "username": "kali",
    "privateKeyPath": "~/.ssh/my_key",
    "remotePath": "/home/kali/OccupancyTracker/",
    "uploadOnSave": false,
    "useTempFile": false,
    "openSsh": false,
    "interactiveAuth": true
}
